<!-- Career Section -->
<section id="career" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <br/><br/>
          <h2>Career</h2>
          <br/>
          <h3>Study</h3>
          <div class="text-left">
            <h4>国際会議</h4>
            <ul>
              <li>
                <em>Yukihiro Moriyama</em>, Byeongseon Park and Mitsunori Matsushita :
                Designing A Question-Answering System for Comic Contents,
                The First International Workshop on coMics ANalysis, Processing and Understanding (2016.12.4).
                <a href="http://dl.acm.org/citation.cfm?id=3011554" target="_blank">[LINK]</a>
              </li>
              <li>
                <em>Yukihiro Moriyama</em>, Megumi Yasuo and Mitsunori Matsushita :
                Information Access Method Triggered by User's Interests During Comic Reading,
                The 5th Asian Conference on Information systems (ACIS2016) (2016.10.27). Short Paper
              </li>
              <li>
                <em>Yukihiro Moriyama</em>, Mitsunori Matsushita and Yasufumi Takama :
                Visual User Interface to Supporting Information Seeking Behavior in Context Searching,
                In Proceedings of the 2015 Conference on Technologies and Applications of Artificial Intelligence,
                pp. 77-82 (2015.11).
                <a href="http://ieeexplore.ieee.org/xpl/abstractAuthors.jsp?reload=true&arnumber=7407103" target="_blank">[LINK]</a>
              </li>
            </ul>
            <h4>国内会議(査読あり)</h4>
            <ul>
              <li>
                白水菜々重, 月川香奈子, <em>盛山将広</em>, 松下光範 :
                高齢者の旅行における体験情報の外在化を目的とした協創環境のデザイン,
                インタラクション2015 (2015.3).
                <a href="http://www.interaction-ipsj.org/proceedings/2015/data/20150226/15INT013.pdf" target="_blank">[PDF]</a>
              </li>
            </ul>
            <h4>国内会議(査読なし)</h4>
            <ul>
              <li>
                西川奈都月, <em>盛山将広</em>, 内藤峻, 松下光範 :
                初学者を対象としたニュース記事中のトピックの関係性に基づく可視化インタフェースの提案,
                第 15 回インタラクティブ情報アクセスと可視化マイニング研究会予稿集 (2017.3) 掲載予定.
                <a href="http://must.c.u-tokyo.ac.jp/sigam/sigam15/sigam1510.pdf" target="_blank">[PDF]</a>

              </li>
              <li>
                西村勇哉, 大杉隆文, <em>盛山将広</em>, 内藤峻, 松下光範 :
                研究初心者のサーベイ行為を対象とした論文整理支援システムの基礎検討,
                第 15 回インタラクティブ情報アクセスと可視化マイニング研究会予稿集 (2017.3) 掲載予定.
                <a href="http://must.c.u-tokyo.ac.jp/sigam/sigam15/sigam1504.pdf" target="_blank">[PDF]</a>

              </li>
              <li>
                赤井有紀, <em>盛山将広</em>, 松下光範 :
                漫符を利用したコミック内の心情・行動描写検索システム,
                第 15 回 デジタルコンテンツクリエーション研究会予稿集 (2017.1).
                <a href="https://ipsj.ixsq.nii.ac.jp/ej/index.php?active_action=repository_view_main_item_detail&page_id=13&block_id=8&item_id=176890&item_no=1" target="_blank">[LINK]</a>
              </li>
              <li>
                盛山将広, 松下光範:
                コンテクスト検索結果の解釈を支援する情報探索インタフェースの構築に関する研究:
                関西データベースワークショップ2016 (2016.9).
              </li>
              <li>
                安尾萌, <em>盛山将広</em>, 白水菜々重, 松下光範 :
                行動履歴に応じた情報提示に基づく場に対する気づきの支援,
                FIT2015 情報科学技術フォーラム講演論文集,
                J-020 (2015.9).
                <a href="https://www.ieice.org/jpn/event/FIT/pdf/d/2015/J-020.pdf" target="_blank">[PDF]</a>
              </li>
              <li>
                <em>盛山将広</em>, 松下光範, 高間康史 :
                コンテクスト検索による情報探索行為を支援するための可視化インタフェースの提案,
                第 29 回人工知能学会全国大会予稿集,
                1I3-OS-10b-2in (2015.6).
                <a href="https://kaigi.org/jsai/webprogram/2015/pdf/1I3-OS-10b-2in.pdf" target="_blank">[PDF]</a>
              </li>
              <li>
                安尾萌, <em>盛山将広</em>, 岡本香帆里, 白水菜々重, 松下光範 :
                場の理解の積極的関与を促す体験学習支援システム,
                第 29 回人工知能学会全国大会予稿集,
                1D5-OS-22b-4in (2015.6).
                <a href="https://kaigi.org/jsai/webprogram/2015/pdf/1D5-OS-22b-4in.pdf" target="_blank">[PDF]</a>
              </li>
              <li>
                <em>盛山将広</em>, 朝田貫太, 内藤貴文, 松下光範 :
                コミック閲覧時のユーザの興味をトリガとした情報アクセス手法の検討,
                HCGシンポジウム2014論文集,
                pp. 352- 356 (2014.12).
                <a href="http://www.ieice.org/ken/paper/JBSw/">[LINK]</a>
              </li>
              <li>
                <em>盛山将広</em>, 月川香奈子, 白水菜々重, 松下光範 :
                Linked Data を用いた体験情報の外在化を促進するための協創支援環境,
                第 28 回人工知能学会全国大会予稿集,
                1G5-OS-19b-4in (2014.5).
                <a href="https://kaigi.org/jsai/webprogram/2014/pdf/467.pdf" target="_blank">[PDF]</a>
              </li>
              <li>
                月川香奈子, 白水菜々重, <em>盛山将広</em>, 松下光範 :
                世代間コミュニケーションを促進するための仕掛けとしての協創,
                第 28 回人工知能学会全国大会予稿集,
                2G4-OS-21b-1 (2014.5).
                <a href="https://kaigi.org/jsai/webprogram/2014/pdf/615.pdf" target="_blank">[PDF]</a>
              </li>
            </ul>
          </div>
          <br/>

          <h3>Exhibition</h3>
          <br/>
          <div class="text-left">
            <ul>
              <li>
                <a href="https://www.mozilla.jp/events/2014/open-web-day/">Mozilla Open Web Day in Tokyo</a> にて FirefoxOS アプリケーションの展示(2014.10.5).
                <a href="http://news.mynavi.jp/articles/2013/09/17/mozillafesintokyo/001.html"　target="_blank">[マイナビ様によるレポート]</a>
              </li>
              <li>
                <a href="http://ja.mozillafactory.org/mozillafestival-in-tokyo-2013">Mozilla Festival in Tokyo</a> にて FirefoxOS アプリケーションの展示 (2013.9.15).
              </li>
            </ul>
          </div>
          <br/>

          <h3>Award</h3>
          <br/>
          <div class="text-left">
            <ul>
              <li>
                <a href="https://yu-suzuki.github.io/dbws2016/">関西データベースワークショップ2016</a> 優秀賞 (2016.9.12).
              </li>
              <li>
                徳島主催 アニメ×オーブンデータハッカソン 特別賞受賞 (2014.9.28).
              </li>
              <li>
                Firefox OS x HTML5 x LOD WEBイノベーションハッカソン Mozilla 賞 (2014.9.15).
              </li>
            </ul>
          </div>
          <br/>

        </div>
    </div>
</section>
